.discount-sale__wrapper {
  background-image: url("https://bcp.cdnchinhphu.vn/Uploaded/tranthithom/2021_09_10/hinh-anh-ban-do-du-lich-phu-quoc-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 32px 0;
  height: 60vh;
  display: grid;
  place-items: center;
}