.product__container {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 12px));
  justify-items: center;
  gap: 24px;
  padding: 40px 0;

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 28px;
  }

  @media (min-width: 1240px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }

  .ant-ribbon-wrapper {
    width: 100%;
  }
}
.product-item {
  width: 100%;
  position: relative;

  .product-item__front {
    position: relative;
    padding-top: 100%;
    position: relative;

    .overlay-image {
      position: absolute;
      inset: 0;

      @media (hover: none) {
        inset: 16px 16px 0;
      }

      img {
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
  }

  @media (hover: hover) {
    &:hover {
      .product-item__back {
        opacity: 1;
      }

      .product-overlay {
        transform: scale(1.1, 1.075);
        opacity: 1;
      }

      .product-action {
        transform: translate(-50%, 0);
        opacity: 1;
      }
    }
  }

  .product-item__back {
    position: absolute;
    padding-top: 100%;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.71, 1.7, 0.77, 1.24);

    .overlay-image {
      position: absolute;
      inset: 0;

      @media (hover: none) {
        inset: 16px 16px 0;
      }

      img {
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }
  }

  .product-overlay {
    transition: all 0.6s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    opacity: 0;
    z-index: -1;
    position: absolute;
    inset: 0;
    box-shadow: -4px 20px 30px rgba(0, 0, 0, 0.1),
    4px -15px 30px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    border-radius: 5px;
  }

  .product-action {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 60%;
    background-color: #fff;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease, visibility 0.3s ease,
      transform 0.5s cubic-bezier(0.71, 1.7, 0.77, 1.24),
      -webkit-transform 0.5s cubic-bezier(0.71, 1.7, 0.77, 1.24);

    .product-icon {
      text-align: center;
      padding: 8px 0;

      &:nth-child(2) {
        border-right: 1px solid #e7e7e7;
        border-left: 1px solid #e7e7e7;
      }

      @media (hover: hover) {
        &:hover {
          cursor: pointer;
          background-color: #000;
          color: #fff;
        }
      }
    }
  }

  @media (hover: none) {
    padding: 8px;

    .product-overlay {
      opacity: 1;
    }

    .product-item__back {
      opacity: 1;
    }

    .product-action {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }

  p {
    text-align: center;
    font-size: 16px;
    position: relative;
    z-index: 2;
    margin-bottom: 0;
  }

  .product-title {
    margin-top: 18px;
    height: 48px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
    font-weight: bold;

    @media (hover: hover) {
      &:hover {
        color: $primary;
      }
    }
  }

  .product-item__price {
    margin-top: 12px;
    margin-bottom: 0;

    @media (hover: none) {
      margin-bottom: 12px;
    }
  }
}

.ant-btn-primary {
  border-color: $primary;
  background-color: $primary;
}

.ant-pagination-item-active {
  border-color: $primary;
}

.ant-btn:hover,
.ant-btn:focus,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: $primary;
  border-color: $primary;
  background-color: #fff;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: $primary;
  border-right-width: 1px;
}

.ant-select-focused:not(.ant-select-disedabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: $primary;
  box-shadow: none;
}

.ant-pagination-item:hover {
  border-color: $primary;
}