nav {
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  align-items: center;
  justify-items: center;
  padding: 8px 20px;
  height: 64px;
  box-shadow: $box-shadow-1;
  background-color: #fff;
  position: relative;
  z-index: 100;

  a {
    text-decoration: none;
  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: slidedown 0.7s forwards;
  }

  .nav-left {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    justify-self: start;
    align-items: center;

    .logo {
      cursor: pointer;
      color: #ee964b;
      font-weight: 600;
      margin-right: auto;
      background-image: url("../../../public/image/logohunter1.png");
      background-position-x: center;
      background-position-y: bottom;
      background-size: 50% 100%;
      background-repeat: no-repeat;
      text-shadow: 5px 5px 5px black, -2px 0 0 black, 0 2px 0 black,
        0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black,
        -1px 1px 0 black;
      height: 100%;
      display: grid;
      place-items: center;
    }

    @include custom-media(tablet) {
      grid-template-columns: auto auto 1fr;
    }

    .bi-list {
      display: none;

      @include custom-media(tablet) {
        display: block;
      }
    }

    img {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    .search-bar {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      background-color: $light-grey-color-1;
      border-radius: 500px;
      padding: 8px 12px;
      column-gap: 8px;
      margin-left: 20px;

      @include custom-media(tablet) {
        display: flex;
        width: fit-content;
        padding: 8px;
        transition: all 0.3s ease;

        &.show {
          display: grid;
          position: fixed;
          z-index: 12;
          width: calc(100% - 48px);
          top: 12px;
          left: 24px;
          right: 24px;

          input {
            width: 100%;
          }
        }
      }

      input {
        border: 0;
        width: 100%;
        background-color: transparent;
        color: $dark-grey;

        &::placeholder {
          color: $dark-grey;
        }

        &:focus {
          outline: 0;
        }

        @include custom-media(tablet) {
          width: 0;
        }
      }

      button {
        border: 0;
        background-color: transparent;

        i::before {
          color: $dark-grey;
        }
      }
    }
  }

  .nav-middle {
    position: relative;
    z-index: 13;

    .menu {
      display: flex;
      gap: 16px;

      .exit-btn {
        display: none;
      }
    }

    .back-drop {
      position: fixed;
      inset: 0;
      background-color: black;
      opacity: 0.5;
      display: none;
      z-index: -1;
    }

    @include custom-media(tablet) {
      .menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        flex-direction: column;
        background-color: #fff;
        transform: translateX(-100%);
        padding: 24px;
        width: 50%;
        transition: transform 0.3s linear;

        a {
          padding-bottom: 16px;
          border-bottom: 1px solid $dark-grey;
        }

        .exit-btn {
          display: block;
          position: absolute;
          top: 12px;
          right: 12px;
          border: 0;
          background: transparent;
          width: 24px;
          height: 24px;
          border-radius: 50%;

          &:hover {
            background-color: $dark-grey;
            color: #fff;
          }
        }
      }

      &.show {
        @include custom-media(tablet) {
          .menu {
            transform: translateX(0);
          }

          .back-drop {
            display: block;
          }
        }
      }
    }
  }

  a {
    color: $dark-grey;
    &.active-link {
      color: $primary;
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-self: end;
    position: relative;

    i {
      font-size: 28px;
      cursor: pointer;
    }

    .avt-container {
      height: 40px;
      width: 40px;
      overflow: hidden;
      border-radius: 50%;
      flex-shrink: 0;
      border: 1px solid white;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .cart-pop-up {
      position: absolute;
      z-index: 15;
      top: 50px;
      right: 48px;
      width: 340px;
      overflow: hidden;
      padding: 12px;
      background-color: #fff;
      box-shadow: $box-shadow-1;
      transform: scaleY(0);
      transition: transform 0.25s ease-in-out;
      transform-origin: top;
      box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
      border: 1px solid rgba(34, 36, 38, 0.15);

      &.show {
        transform: scale(1, 1);
      }
    }
  }
}

@keyframes slidedown {
  0% {
    top: -96px;
  }

  100% {
    top: 0;
  }
}

.profile-pop-up {
  position: absolute;
  right: 0;
  top: 45px;
  background-color: #fff;
  width: 300px;
  min-width: max-content;
  transform: scaleY(0);
  transition: transform 0.25s ease-in-out;
  transform-origin: top;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);

  .profile-link,
  a,
  a:hover {
    text-decoration: none;
    color: #333;
  }

  .profile-info__txt {
    max-width: 100%;
    p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  @include custom-media(tablet) {
    width: 250px;
  }

  &.show {
    transform: scaleY(1);
  }

  > div {
    padding: 16px;
  }

  p {
    margin-bottom: 0 !important;
  }

  .profile__info {
    display: grid;
    grid-template-columns: 40px calc(100% - 58px);
    justify-items: start;
    align-items: center;
    gap: 18px;
    color: #555;

    p:first-child {
      font-weight: bold;
    }

    div:last-child {
      grid-area: 2/1/3/3;
      p {
        cursor: pointer;
        &:hover {
          color: $primary;
        }
      }
    }

    border-bottom: 1px solid #f7f7f7;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  ul li {
    padding: 11px 16px;

    &:hover {
      cursor: pointer;
      background-color: #ffeceb;
    }
  }
}
