.cart-container{
    p{
        display: inline-block;
        padding-right: 10px;
        padding-top: 3px;
      }
}
  
  ul.ant-card-actions{
    background-color: #fae1dd;
    padding: 5px;
  
  }
  
  svg{
    width: 15px;
    height: 16px;
    margin-bottom:5px;
  }
  